<div class="card" style="width: 18rem;">
    <img src="./assets/placeholder.gif" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text"> {{item.description}} Some quick example text to build on the card title and make up the
            bulk of the card's
            content.</p>
    </div>
</div>