.menu-options {
  overflow: hidden;
  width: 100%;
}


.menu-options>ul {
  background: transparent;
}

.list-group>div {
  overflow: hidden;
}

ul>LI {
  overflow: hidden;
}

.list-group-item {
  background: transparent;
  border: none;
  cursor: pointer;
}

.list-group>li {
  background: transparent;
  height: 40px;
  overflow: hidden;
  border: none;

}


.menu-labels {
  display: inline-block;
  text-transform: uppercase;
  color: #FFF;
}


.sub-menu-options {}
