<ul class="list-group">
    <li *ngFor="let option of menuOptions" class="list-group-item" title="option?.title" [routerLink]="[option?.link]">
        <mdb-icon fas icon="{{option?.icon}}" aria-hidden="true"></mdb-icon>
        <span class="menu-labels pl-2" *ngIf="leftMenuToggle">{{option?.title || ''}}</span>
    </li>
</ul>