<!-- Default form login -->
<div class="login-main-container login">
    <form class="text-center border border-light p-5" action="javascript:;" [formGroup]="loginForm"
        (ngSubmit)="onLogin()">
        <!-- Email -->
        <input type="text" formControlName="username" id="defaultLoginFormEmail" class="form-control mb-4"
            placeholder="Username">
        <!-- Password -->
        <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control mb-4"
            placeholder="Password">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="javascript:;">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Login</button>

    </form>
    <!-- Default form login -->
</div>