<div class="list">

    <div class="row padding-0 margin-0">
        <div class="col-2 pl-4">
            <i class="far fa-list-alt fa-4x list-icon"></i>
        </div>
        <div class="col-7 pl-4">
            <div class="title">
                {{item?.title}}
            </div>
            <div class="description">
                {{item?.description}}
            </div>
        </div>
        <div class="col-3 pl-4">
            <div class="pull-right">
                <button type="button" class="btn btn-primary  btn-sm" *ngIf="!options?.isAddDisable"
                    (click)="onAdd(item)">Add</button>
                <button type="button" class="btn btn-danger btn-sm" *ngIf="!options?.isDeletedDisable"
                    (click)="onDelete(item)">Delete </button>
            </div>
        </div>
    </div>
</div>