.list {
  height: 100px;
  border: 1px solid #FFF;
  border-radius: 5px;
  margin: 10px;
  background: #E5E5E5;

}

.list-icon {
  margin: auto;
  text-align: center;
  line-height: 100px;
}

.title {
  font-size: 22px;
  line-height: 50px;
}

.description {
  font-size: 14px;
  line-height: 30px;
}
