<div class="container-fluid full-height overflow-y-scroll">
    <app-page-title [title]="title"></app-page-title>
    <div *ngFor="let item of items" (click)="onDetails(item)">
        <app-image-card [item]="item"></app-image-card>
    </div>
</div>