<div class="container-fluid" id="main-container">
    <div class="row full-height">
        <div class="lef-panel full-height" [ngClass]="{'menu-active': leftMenuToggle}">
            <div class="toggle-menu" (click)="onToggleMenu()">
                <mdb-icon fas icon="bars"></mdb-icon>
                <div id="logo">
                    Company Logo
                </div>
            </div>
            <div class="menu-options">
                <app-left-menu-navigation [leftMenuToggle]="leftMenuToggle"></app-left-menu-navigation>
            </div>
        </div>
        <div class="right-panel full-height">
            <header>
                <span class="itemcount pl-4">item count:{{Itemnumber}}</span>
                <div class="user-login">
                    <div class="user-login-title-place-holder" *ngIf='!userActivated'>
                        LOGIN
                    </div>
                    <div class="user-login-title" *ngIf='userActivated'>
                        <p> {{userInformation?.username || ''}}</p>
                        <p> Account Settings </p>
                    </div>
                    <div class="user-login-icon">
                        <button type="button" mdbBtn color="link" class="waves-light" data-toggle="modal"
                            data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
                            <mdb-icon far icon="user-circle" size="2x"></mdb-icon>
                        </button>
                    </div>
                </div>
            </header>
            <div class="border-bottom"></div>
            <div class="work-space">
                <router-outlet></router-outlet>
                <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Login to CUE</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    (click)="frame.hide()">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <!--Body-->
                            <div class="modal-body">
                                <div>
                                    <app-login (onSuccess)="onSuccess($event); frame.hide();"></app-login>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>