#main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.lef-panel {
  width: 60px;
  height: 100%;
  background: #006296 !important;
  position: absolute;
  left: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#logo {
  float: right;
  clear: both;
  padding-right: 20px;
}

.menu-active {
  width: 300px;
}


.right-panel {
  position: absolute;
  left: 60px;
  background: #0d2240;
  width: calc(100% - 60px);
}

.work-space {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
}

header {
  height: 60px;
  width: 100%;
}

.toggle-menu {
  margin: auto;
  line-height: 60px;
  padding-left: 20px;
  cursor: pointer;
  overflow: hidden;
  height: 60px;
}



.user-login {
  line-height: 60px;
  float: right;
  padding-right: 20px;
  color: #FFF;
}

.user-login-title-place-holder {
  float: left;
  padding-right: 20px;
}

.user-login-title {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

.user-login-title p {
  padding: 0;
  margin: 0;
  float: right;
  clear: both;
}

.user-login-title p:first-child {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.user-login-title p:last-child {
  font-size: 12px;
  line-height: 0;
}

.user-login-icon {
  float: left;
  line-height: 60px;
}

.user-login-icon button {
  margin: 0;
  padding: 0;
}
.itemcount{
  color: #FFF;
  line-height: 60px;
}