<div class="container-fluid full-height overflow-y-scroll">
    <app-page-title [title]="'Analytics'"></app-page-title>

    <div *ngIf="selected">
        <chart [type]="type" [data]="data" [options]="options"></chart>
    </div>

    <div *ngIf="!selected">
        <h3> Default Analytics Page</h3>
    </div>
</div>