header {
  height: 60px;
  line-height: 90px;
  font-size: 24px;
  font-weight: 200;
  overflow: hidden;
  padding-left: 10px;
  letter-spacing: 2px;
  color: #FFF;
  border-bottom: 1px solid #FFF;
}
