<div class="container-fluid full-height overflow-y-scroll">
    <app-page-title [title]="'Dashboard'"></app-page-title>
    <div class="row full-height-60">
        <div class="left-panel col-6 full-height">
            <div class="full-height overflow-y-scroll">
                <virtual-scroller #scroll [items]="listItems">
                    <div class="list-container" *ngFor="let item of scroll.viewPortItems">
                        <app-list (onItemAdd)="onItemAdded($event)" [item]="item" [options]='leftPanelListOptions'>
                        </app-list>
                    </div>
                </virtual-scroller>
            </div>
        </div>
        <div class="right-panel col-6 full-height">
            <div class="full-height overflow-y-scroll">
                <virtual-scroller #scroll1 [items]="rightPanelListItems">
                    <div class="list-container" *ngFor="let item of scroll1.viewPortItems">
                        <app-list (onItemDelete)="onItemDeleted($event)" [item]="item"
                            [options]='rightPanelListOptions'>
                        </app-list>
                    </div>
                </virtual-scroller>
            </div>
        </div>
    </div>
</div>