/* You can add global styles to this file, and also import other style files */

mdb-icon {
  color: #FFF;
}

.full-height {
  height: 100%;
}

.full-height-60 {
  height: calc(100% - 60px);
}

.overflow-y-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.pull-right {
  float: right;
}
